* html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

div.container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-content: space-between;
}

h2 {
    justify-content: center;
    margin-left: 33%;
}

.button-primary {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 22px;
    margin-top: 2.5px;
}

h3 {
    font-size: 22px;
    background: rgb(210, 183, 30);
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 0;
}

#vax {
    display: flex;
    font-size: 24px;
    align-content: center;
    color: blue;
    background: rgb(210, 183, 30);
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 0;

}

#totalDeaths {
    color:red;
    font-size: 24px;
    font-weight: 900;
    justify-content: left;
    margin-left: 20px;
    margin-right: 20%:
}

#totalCases {
    color: blue;
    font-size: 22px;
    font-weight: 900;
    justify-content: left;
    margin-left: 20px;

}

p2 {
 margin-left: 200px;
}

div.dataPull {
    display: flex;
    align-items: left;
    margin-left: 100px;
    justify-items: center;
   


}

source {
    font-style: italic;
    text-align:right;
    margin-right: 0:
}

.containerChart {
    flex-wrap: wrap;
    width: 100%;
}

.bars {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
        
}

.bar1 {
    background-color: blue;
    /* height: 100px; */
    margin-left: 30px;
    margin-right: 10px;
}

.bar2 {
    background-color: red;
    height: 50px;
    margin-left: 30px;
    margin-right: 10px;
}

